services:
  postgres:
    image: public.ecr.aws/docker/library/postgres:16-alpine
    container_name: musicapi-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: musicapi
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  adminer:
    image: public.ecr.aws/docker/library/adminer:latest
    container_name: musicapi-adminer
    ports:
      - "5050:8080"
    depends_on:
      - postgres
    restart: unless-stopped

  minio:
    image: minio/minio:latest
    container_name: musicapi-minio
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    restart: unless-stopped

volumes:
  minio_data:
  postgres_data:
