server:
  port: 8080

spring:
  profiles:
    default: local

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true

