spring:
  datasource:
    url: jdbc:h2:mem:musicapi;MODE=PostgreSQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  flyway:
    locations: classpath:db/migration/common,classpath:db/migration/h2
  jpa:
    hibernate:
      ddl-auto: none
  h2:
    console:
      enabled: true
      path: /h2-console

